service: emoji-intensifies

provider:
  name: aws
  runtime: nodejs12.x
  profile: jd-serverless-framework
  stage: prod
  region: eu-central-1
  logRetentionInDays: 1
  timeout: 10
  apiGateway:
    # API Gateway makes it possible to return binary media such as images or files as responses.
    binaryMediaTypes:
      - 'image/png'
      - 'image/jpg'
      - 'image/gif'
      - 'multipart/form-data'
  usagePlan:
    quota:
      limit: 1000
      offset: 2
      period: MONTH
    throttle:
      burstLimit: 100
      rateLimit: 50

plugins:
  - serverless-plugin-typescript
  - serverless-prune-plugin
  - serverless-offline

functions:
  intensifyImage:
    handler: src/handler.intensify
    description: "API to turn an emoji into an intensified version"
    memorySize: 1024
    layers:
      # Deployed https://github.com/serverlesspub/imagemagick-aws-lambda-2 separately as layer first!
      - arn:aws:lambda:eu-central-1:762568276642:layer:image-magick:1
    events:
      # Type of event, the http event selected, it's event is a endpoint mapped on api gateway
      - http:
          path: intensify
          method: post
          cors: true

custom:
  prune:
    automatic: true
    number: 2
