body {
    background-color: #282c34;
}

.App {
    text-align: center;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.image-upload-container {
    display: block;
    width: 80%;
    margin: 0 auto;
}
